---
title: Alpha Karina
---
<div id="container">
  <div class="homeBg" data-stellar-background-ratio=".25">
    <div class="header">

      <nav>
        <ul>
          <li><a href="#testimonials">Testimonials</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>      
    
      <div>
        <h1 >ALPHA<span>KARINA</span></h1>
        <%= image_tag "alphaHeader.jpg", class: "img-alpha" %> 
        <p>Livin' the Royalè Dream</p>
      </div>

      <div class="browseSvg">
        <a href="#royale">
        <i class="fa fa-chevron-circle-down fa-2x"></i></a>
      </div>      
    </div><!--.header-->
  </div><!--.homeBg-->  

  <div class="main">

    <section id="royale">

      <h1>My Royale Story</h1>
      <p>
        Five years ago, I set out on my overseas journey to start fulfilling my dreams of a much better future. As ambitious as I am with my life goals, I thought that sheer hard work alone was enough to succeed, it wasn't, it never is. We always need to have some other source of income to make our lives better off.
      </p>
      <p>
          Fortunately, I discovered Royalè and I was instantly sold. The prospect of earning extra money with a fairly easy start, I knew it was an opportunity I could not pass, and I am glad I took the chance.
      </p>
      <p>
          Now I am happy with the success I've had and continue to have with Royalè.
      </p>
      <p>Surely, it gets better and better with Royalè.</p>

      <h3><%= link_to "Get Started with Royale", "/start.html" %></h3>

    </section>
  </div><!--.main-->  

  <section class="module parallax parallax-1" data-stellar-background-ratio=".25">

    <div class="container">  
      <h1>#Free<span>Falling</span></h1>        
        <div class="browse2">
          <a href="#testimonials">
          <i class="fa fa-chevron-circle-down fa-3x"></i></a>
        </div>
    </div><!--.container-->  

  </section>
        
  <div class="testimonials-section center-cont">
    <section id="testimonials">
      <h1>Testimonials</h1>
      <p>
          Thousands of OFWs are already enjoying the privileges of being a 'Royalista'. Now it's your turn.
      </p>

      <div class="testi-lightbox">
        <div class="table">
          <ul>

            <li> 
                    
                <ul>
                  <li><a href="/img/bef-1.jpg" data-lightbox="before"><%= image_tag "bef-1.jpg", class: "testi-img" %><span>Before/After Photos</span></a></li>
                  <li><a href="/img/bef-2.jpg" data-lightbox="before" style="display: none;">2</a></li>
                  <li><a href="/img/bef-3.jpg" data-lightbox="before" style="display: none;">3</a></li>
                  <li><a href="/img/bef-4.jpg" data-lightbox="before" style="display: none;">4</a></li>
                  <li><a href="/img/bef-5.jpg" data-lightbox="before" style="display: none;">5</a></li>
                </ul>
                        
            </li>

              
                <li>
                 
                    <ul>
                  <li><a href="/img/success-1.jpg" data-lightbox="success" data-title="Ms. Almond Randrup, nurse by profession and within her 3 years in Royalè, she rewarded herself a brand new Subaru SUV."><%= image_tag "success-1t.jpg", class: "testi-img" %><span class="testi-span">Success Stories</span></a></li>
                  <li><a href="/img/success-2.jpg" data-lightbox="success" data-title="Mr. Daniel Cancio, the first OFW in Dubai who bought a brand new Ferrari by only doing Royalè. He is a 'Movers & Shakers' awardee, earned PhP30 million with Royalè." style="display: none;">2</a></li>
                  <li><a href="/img/success-3.jpg" data-lightbox="success" data-title="Rey Phillip Ferrer, a former Professor at the University of the East in Philippines,  chooses to do Royalè because of the big income differences." style="display: none;">3</a></li>
                  <li><a href="/img/success-4.jpg" data-lightbox="success" data-title="Ms. Alpha Manguba earned thousands in her first 3 months of doing Royalè as part-time business. After office hours, she goes directly to Royalè office for 2 to 3x a week." style="display: none;">4</a></li>
                  <li><a href="/img/success-5.jpg" data-lightbox="success" data-title="Ms.Apple Tan bought her Audi car & townhouse by doing Royalè for 6 years" style="display: none;">5</a></li>
                  <li><a href="/img/success-6.jpg" data-lightbox="success" data-title="'Shop 'til you drop' all designers bags & belts in Paris, France." style="display: none;">6</a></li>
                  <li><a href="/img/success-7.jpg" data-lightbox="success" data-title="Ms. Mary Joanne Tan received her award as 'Movers & Shakers' (earned PhP30 million with Royalè)" style="display: none;">7</a></li>
                  <li><a href="/img/success-8.jpg" data-lightbox="success" data-title="Royalè celebrations around the world."style="display: none;">8</a></li>
                  <li><a href="/img/int-6.jpg" data-lightbox="success" data-title="Now imagine yourself earning this much with Royalè. Are you excited yet? You should be."style="display: none;">9</a></li>
                  </ul>
                             
              </li>  
               
            <li>       
             
                <ul>
                  <li><a href="/img/int-1.jpg" data-lightbox="int"><%= image_tag "int-1.jpg", class: "testi-img" %><span>International Distributors</span></a></li>
                  <li><a href="/img/int-2.jpg" data-lightbox="int" style="display: none;">2</a></li>
                  <li><a href="/img/int-3.jpg" data-lightbox="int" style="display: none;">3</a></li>
                  <li><a href="/img/int-4.jpg" data-lightbox="int" style="display: none;">4</a></li>
                  <li><a href="/img/int-5.jpg" data-lightbox="int" style="display: none;">5</a></li>                  
                  <li><a href="/img/int-7.jpg" data-lightbox="int" style="display: none;">6</a></li>
                  
                </ul>
              
            </li>

          </ul>
        </div>
      </div>

      <%= partial "partials/notes"%> 

    </section>
  </div><!--.main-->  

  <section class="module parallax parallax-2" data-stellar-background-ratio=".25">
    <div class="container">  
      <h1>#Team<span>Happy</span></h1>
      <div class="browse2">
        <a href="#about">
        <i class="fa fa-chevron-circle-down fa-3x"></i></a>
      </div>
    </div><!--.container-->  
              
  </section>
        
  <div class="main">
    <section id="about">
      <h1>About Royale Business Club Inc</h1>
      <p>
          Royalè is a 100% Filipino-owned corporation established in 2006. From its headquarters in Quezon City, Philippines, the company is continually changing the landscape as we know it - from its expansion of branches throughout key cities in the country to international hotspots in the cities of Dubai, Taipei, Singapore, Doha and Abu Dhabi.
      </p>  
      <p>
          With pillars of industry leaders backed by years of experience and expertise in Finance and Marketing, the company stands tall as a major player in the industry, offering its wide spectrum of FDA-approved health, wellness and beauty products. 
      </p>
      <p>
          Royalè as a Brand is synonymous with innovation and modern. From the packaging to the over-all impeccable quality and service, Royalè products are superlative in all aspects. Its success in the local and international markets is a glaring declaration of this feat.
      </p>
      <p>

          The business model of Royalè is now the benchmark of Filipino-owned corporations who want to expand their operations worldwide. This pursuit requires more than hard work, but rather, it calls for continuous dedication to excellence and a pragmatic understanding of large-scale multi-national operations. More importantly, a management with keen business sense, acumen and diligence of the highest level is required.
      </p>
    </section>
  </div><!--.main-->  

  <section class="module parallax parallax-3" data-stellar-background-ratio=".25">
    <div class="container">  
      <h1>#Flower<span>Power</span></h1>
      <div class="browse2">
        <a href="#contact">
          <i class="fa fa-chevron-circle-down fa-3x"></i></a>
      </div>
    </div><!--.container-->  
  </section>
          
              
  <div class="main center-cont">            
    <section id="contact">
      <h1>Contact</h1>

      <p>Thanks for visiting my page, I hope you get in touch.</p>    
      <p>You can reach me by clicking on either of the links below.</p>      
      
      <div class="contactIcons">
        <ul>          
          <li><a href="https://facebook.com/alpha.manguba" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="mailto:alphakarinaroyale@gmail.com"><i class="fa fa-envelope-o"></i></a></li>
          <li><a href="/img/contact.jpg" data-lightbox="contact"><i class="fa fa-phone"></i></a></li>      
        </ul>
      </div>
    </section>
  </div><!--.main-->

  <a href="#" class="scrollToTop"><span>Back To Top</span></a>

</div><!--container-->

<script src="https://squaresend.com/squaresend.js"></script>

