---
title: Get Started with Royale
---

<section class="startHeader"> 	

	<div class="startCont">
    
      <div>
          <h1 >PhP<span>14,790</span></h1>
          <p>Low Start-up</p>
          <h2>Enjoy these Amazing Benefits</h2>
          <p>
          Up to 30% Lifetime Discount</br>
          1 Year Accident Insurance Coverage (Optionally renewable)</br>
          24/7 Online Independent Distributor's Tracking Center (IDTC)</br>
          Distributor ID</br>
          Brochure</br>
          AVP Disc
        </p>
        <h2>Ways to Earn</h2>
          <p>
          Direct Selling Program</br>
          Leveraging</br>
          Uni-Level Program</br>
          Multi-level Program</br>
          Incentive Program       
        </p>
      </div>
  </div>

  <div class="browse">
    <a href=".main">
    <i class="fa fa-chevron-circle-down fa-2x"></i></a>
  </div>    
</section>

<div class="homeLink"> 
  <%= partial "partials/nav"%> 
</div>

<div class="main title">

  <h1>Choose from the following Packages</h1>   
  <p>Each package costs PhP 14,790.00 ( including PhP 300.00 Sub-Distributor Fee ). NO MEMBERSHIP FEES.</p>
  <p>All succeeding Package(s) will only cost PhP 12,800.00 ( Remember the 30% Lifetime Discount? )</p>

</div><!--.main--> 

<div class="sliderBg">

  <div class="sliderCont">

    <ul id="slider1">
      <li><%= image_tag "img1.jpg" %></li>
      <li><%= image_tag "img2.jpg" %></li>
      <li><%= image_tag "img3.jpg" %></li>
      <li><%= image_tag "img4.jpg" %></li>
      <li><%= image_tag "img5.jpg" %></li> 
    </ul>
  </div>
</div>


<div class="main">

  <h1>Ways to Earn</h1>   
    <a href="/img/sell1.jpg" data-lightbox="Direct-Selling">Direct Selling<span> (Click for Details)</span></a> 
  <p>This is pretty self-explanatory and simple. You sell an item, earn 20 - 30%.</p>
  <p>THERE'S MORE TO IT! You will earn PhP 1,610.00 rebate for every product package you sell.</p>  

  <a href="/img/sell2.jpg" data-lightbox="Leveraging-program">Leveraging Program<span> (Click for Details)</span></a> 
  <p>
    In your IDTC ( Independent Distributor Tracking Center ), you will have two sales groups. 
    Let's call them TEAM A and TEAM B (Left and Right).
  </p>
  <p>
    For every sale made under TEAM A and TEAM B worth 150PPV, the company will give you PhP 2,100.00 as your
    MATCH SALES BONUS. Positions don't matter; as long as the system sees a match, the MATCH SALES BONUS is yours!
  </p>
  
  <h3>QUESTION: Where did 150PPV come from?</h3>

  <p>ANSWER: Each product package is equivalent to 150PPV.</p>

  <h3>Sample Computation ( 1 Match from Team A and Team B )</h3>

  <p> 1 x Sales Match = PhP 2,100.00</p>
  <p> 2 x PhP 1,610 rebates = PhP 3,220.00</p>
  <p> TOTAL = PhP 5,320.00 </br>(Not bad! What if you have tons of sales matches! Yeah, you do the math :)</p>
  <p>Each product has its corresponding PPV or Binary points. Refer to the tables below:</p>


</div><!--.main--> 

  <div class="sliderBg">
  <div class="sliderCont">

  <ul id="slider2">
    <li><%= image_tag "price1.jpg" %></li>
    <li><%= image_tag "price2.jpg" %></li>    
  </ul>
  </div>

</div>

<div class="main">

  <h2>What if a sale in Team A has 75PPV?</h2>

  <p>GOOD NEWS: Whenever the system sees a match with the minimum accumulated 75PPV, you will have PhP 1,050.00 Match Sales Bonus! The remaining product points will be carried over!!!</p>

  <p>This is how much you will earn (Estimate) in a year by selling Two Packages on your first month, and those Two People will only sell Two Packages to four more Referrals. (Two Packages sold per Person), so on and so forth...</p>
  
</div><!--.main--> 

</div><!--.main--> 

  <div class="sliderBg">
  <div class="sliderCont">

  <ul id="slider3">
    <li><%= image_tag "leverage1.jpg" %></li>
    <li><%= image_tag "leverage2.jpg", title: "Remember the two pricing tables above? </br> You'll notice the Uni-Level Points Value (UPV) and Multi-Level Points Value(MPV). </br> These points are convertible to cash where 8% of your personal accumulated UPV will be your rebate monthly. You will also have override commission down to your 10th level." %></li>    
    <li><%= image_tag "leverage3.jpg", title: "After your 10th Level, you'll have 5 - 35% override rebates to your groups' accumulated Multi-Level Points. " %></li>
    <li><%= image_tag "leverage4.jpg", title: "The company is generously doing PROFIT SHARING to all qualified distributors. </br>How would a PhP 1,997,674.48 incentive sound? " %></li>
    <li><%= image_tag "leverage5.jpg" %></li>
    <li><%= image_tag "leverage6.jpg", title: "Would you like to travel around the world? </br> ALL EXPENSES PAID? Yes? Yes!!!" %></li>
  </ul>
  </div>

</div>

<a href="#" class="scrollToTop"><span>Back To Top</span></a> 







