---
title: Test file for slides
---

<div class="container">


    <div id="slides">
      <%= image_tag "img1.jpg" %> 
    <%= image_tag "img2.jpg" %> 
    <%= image_tag "img3.jpg" %> 
    <%= image_tag "img4.jpg" %> 
    <%= image_tag "img5.jpg" %> 
      
      <a href="#" class="slidesjs-previous slidesjs-navigation"><i class="icon-chevron-left"></i></a>
      <a href="#" class="slidesjs-next slidesjs-navigation"><i class="icon-chevron-right"></i></a>
    </div>
</div>